html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat',sans-serif;
    background-color: #552A1A;
    min-height: -webkit-fill-available;
}

.s404{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .main-text{
        font-size: 7rem;
    }
    text-align: center;
    font-weight: 300;
    .subtitle-main{
        font-size: 2rem;
    }
    .subtitle-desc{
        font-size: 1.1rem;
    }
    // background-color: #000;
    
}



.mars {
    .glass{
        position: relative;
        min-height:  25rem;
        height: 100%;
        width: 80vw;
    }
}

@media screen and (min-width:720px){
    .s404 {
        // margin: 1rem;
        .main-text {
            font-size: 8rem;
        }
        .subtitle-main {
            font-size: 3rem;
        }
        .subtitle-desc {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width:1240px){
    .s404 {
        .main-text {
            font-size: 10rem;
        }
        .subtitle-main {
            font-size: 4rem;
        }
        .subtitle-desc {
            font-size: 2rem;
        }
    }
}