* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  background: url("../images/ivan-torres-MQUqbmszGGM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.wrapper .tint {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 5vh 0;
}

.wrapper .glass {
  margin: 0 auto;
  width: 90vw;
  height: 100%;
  max-width: 1800px;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  padding: 0 5rem;
  height: 5rem;
  line-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

nav a {
  color: #ededed;
  text-decoration: none;
}

nav ul {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0 2rem;
  font-size: 1.4rem;
}

nav #brand {
  margin: 0 2rem;
  line-height: 5rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  color: #9e1d1d;
}

nav #brand span {
  color: #be1717;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.desc {
  position: relative;
  padding: 0 7rem;
  font-family: "Montserrat";
  max-width: 55%;
  height: 200px;
}

.desc h1 {
  font-size: 3.2rem;
  color: white;
  margin-bottom: 2rem;
}

.desc span:nth-child(1) {
  color: #9e1d1d;
}

.desc h2 {
  font-size: 2rem;
  color: #e2e2e2;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 4rem;
}

.desc .cta {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 1px solid #e2e2e2;
  color: #e2e2e2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.desc .cta:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.cards {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.cards .card {
  width: 250px;
  height: 250px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 2rem;
  margin-right: 0;
  border-radius: 1rem;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  height: 5rem;
  line-height: 5rem;
  font-family: "Montserrat";
  color: #ededed;
  font-size: 1.4rem;
}

@media screen and (min-width: 250px) {
  .cards {
    margin-top: 3rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .cards .card {
    margin: 10px auto;
  }
  .cards .card:not(:nth-child(1)) {
    display: none;
  }
  .tint {
    padding: 0;
  }
  nav {
    padding: 0 1rem;
    height: 4rem;
    line-height: 4rem;
  }
  nav ul li {
    margin: 0 .5rem;
    font-size: .8rem;
  }
  nav #brand {
    margin: 0 1rem;
    line-height: 4rem;
    font-size: 1rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .desc {
    max-width: 100%;
    padding: 0 2rem;
  }
  .desc h1 {
    margin-top: .4rem;
    font-size: 1.1em;
    color: white;
    margin-bottom: .9rem;
  }
  .desc h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .desc .cta {
    margin: 0 auto;
    font-size: .8rem;
    padding: .5rem 1rem;
  }
  footer {
    height: 3rem;
    line-height: 3rem;
    font-size: .8rem;
  }
}

@media screen and (min-width: 430px) {
  nav {
    padding: 0 2rem;
  }
  .desc {
    padding: 0 3rem;
  }
  .desc h1 {
    font-size: 1.3em;
  }
  .desc h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .desc .cta {
    margin: 0;
    font-size: .8rem;
    padding: .5rem 1rem;
  }
}

@media screen and (min-width: 560px) {
  .cards {
    margin-top: 3rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .cards .card {
    margin: 10px auto;
    display: none;
  }
  .cards .card:nth-child(1), .cards .card:nth-child(2) {
    display: block;
  }
  .desc h1 {
    font-size: 1.6em;
    margin-top: 1.2;
  }
  .desc h2 {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }
}

@media screen and (min-width: 850px) {
  .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-right: 7rem;
  }
  .cards .card {
    margin: 10px 10px;
    display: none;
  }
  .cards .card:nth-child(2) {
    display: none;
  }
  .cards .card:nth-child(1) {
    display: block;
  }
  .tint {
    padding: 5vh 0;
  }
  nav {
    padding: 0 5rem;
    height: 5rem;
    line-height: 5rem;
  }
  nav ul li {
    margin: 0 2rem;
    font-size: 1.4rem;
  }
  nav #brand {
    margin: 0 2rem;
    line-height: 5rem;
    font-size: 2rem;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .desc {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 7rem;
    max-width: 55%;
  }
  .desc h1 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
  .desc h2 {
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 1.2rem;
  }
  .desc .cta {
    font-size: 1rem;
    padding: .7rem 1.4rem;
  }
  footer {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .desc h1 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
  .desc h2 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .desc .cta {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1320px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-right: 7rem;
  }
  .cards .card {
    margin-left: 2rem;
    display: block;
  }
  .cards .card:nth-child(2),
  .cards .card:nth-child(3),
  .cards .card:nth-child(4) {
    display: block;
  }
}

@media screen and (min-width: 1800px) {
  .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-right: 7rem;
  }
  .cards .card {
    margin-left: 2rem;
    display: block;
  }
  .cards .card:nth-child(2),
  .cards .card:nth-child(3),
  .cards .card:nth-child(4),
  .cards .card:nth-child(5),
  .cards .card:nth-child(6) {
    display: block;
  }
  .desc h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  .desc h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .desc .cta {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */