@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

html, body {
  width: 100%;
  background-color: #51371F;
  min-height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  min-height: -webkit-fill-available;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  overflow-x: hidden;
  padding: 5vh 0;
}

.wrapper .glass {
  margin: 0 auto;
  width: 90vw;
  max-width: 1440px;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  padding: 0 3rem;
  height: 5rem;
  line-height: 5rem;
  font-weight: 700;
  color: #9e1d1d;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

nav a {
  color: #9e1d1d;
}

main .desc {
  padding: 1rem 3rem;
}

main .desc .image {
  display: none;
}

main .desc a {
  color: #fff;
}

main .desc h1 {
  font-size: 1.8rem;
  margin: 1rem 0rem;
}

main .desc span:nth-child(1) {
  color: #9e1d1d;
}

main .desc h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

main .desc .cta {
  font-size: 1rem;
  padding: 1rem 1rem;
  border: 1px solid #e2e2e2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: 1rem auto;
}

main .desc .cta:hover {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.cards {
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card {
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 250px;
  margin: 1rem auto;
  border-radius: 1rem;
}

.cards .back, .cards .front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-weight: 300;
  position: absolute;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

.cards .back {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.06);
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.cards .front {
  background-repeat: no-repeat;
  width: 250px;
  background-size: cover;
  background-position: center;
  padding-top: 190px;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.cards .front .card-text {
  height: 60px;
  width: 250px;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.cards .card:hover > .front,
.cards .card:focus > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.cards .card:hover > .back,
.cards .card:focus > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.cards .card:nth-child(1) > .front {
  background: url("../images/pizza1_cropped_dark.jpg");
  background-position: center;
}

.cards .card:nth-child(2) > .front {
  background: url("../images/pizza2_c_dark.jpg");
  background-position: center;
}

.cards .card:nth-child(3) > .front {
  background: url("../images/pizza3_c_dark.jpg");
  background-position: center;
}

.cards .card:nth-child(4) > .front {
  background: url("../images/pizza4_c_dark.jpg");
  background-position: center;
}

.cards .card:nth-child(5) > .front {
  background: url("../images/pizza5_c_dark.jpg");
  background-position: center;
}

.cards .card:nth-child(6) > .front {
  background: url("../images/pizza6_c_dark.jpg");
  background-position: center;
}

footer {
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: .8rem;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .links span {
  padding: 0.1rem .5rem;
}

footer .links a {
  color: #fff;
}

@media screen and (min-width: 720px) {
  nav {
    padding: 1rem 4rem;
  }
  main .desc {
    padding: 2rem 4rem;
  }
  main .desc .cta {
    text-align: center;
    margin: 2rem 0rem;
  }
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 1rem 6rem;
  }
  main .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 2rem 6rem;
  }
  main .desc div {
    width: 50%;
  }
  main .desc .image {
    display: block;
    max-width: 40%;
  }
  main .desc .image img {
    width: 100%;
  }
  main .desc .cta {
    margin: 2rem 0rem;
  }
  .cards {
    max-width: 1100px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1440px) {
  nav {
    padding: 1rem 12rem;
  }
  main .desc {
    padding: 2rem 12rem;
  }
  main .desc .cta {
    margin: 2rem 0rem;
  }
  .cards {
    padding: 0 3rem;
  }
}

.wrapper.mars {
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  background: url("../images/mars.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */