@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
html,body{
    width: 100%;
    background-color: #51371F;
    min-height: -webkit-fill-available;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.wrapper{
    width: 100%;
    // height: 100%;
    min-height: -webkit-fill-available;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    overflow-x: hidden;
    padding: 5vh 0;
    .glass{
        margin: 0 auto;
        width: 90vw;
        max-width: 1440px;
        border-radius:1rem; //2.4
        border: 2px solid rgba($color: #fff, $alpha: .2);
        background:rgba($color: #fff, $alpha: .05);
        backdrop-filter: blur(20px);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

nav{
    padding: 0 3rem;
    height: 5rem;
    line-height: 5rem;
    font-weight: 700;
    color: rgb(158, 29, 29);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

main {
    .desc{
        padding: 1rem 3rem;
        h1{
            font-size: 1.8rem;
            margin: 1rem 0rem;
        }
        span:nth-child(1) {
            color: rgb(158, 29, 29);
        }
        h2{
            font-size: 1.4rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        .cta {
            font-size: 1rem;
            padding: 1rem 1rem;
            border: 1px solid #e2e2e2;
            width: fit-content;
            cursor: pointer;
            margin: 1rem auto;
        }

        .cta:hover {
            background-color: rgba($color: #fff, $alpha: 0.15);
            backdrop-filter: blur(5px);
        }
    }
}

.cards{
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    .card{
        position: relative;
        cursor: pointer;
        width: 250px;
        height: 250px;
        margin: 1rem auto;
        border-radius: 1rem; 
    }
    .back,.front{
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        font-weight: 300;
        position: absolute;
        font-size: 1.2rem;
        border-radius: 1rem;
        border: 1px solid rgba($color: #fff, $alpha: .5);
        backface-visibility: hidden;
        transition: transform .4s ease-in;

    }
    .back{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($color: #fff, $alpha: .06);
        transform: perspective(600px) rotateY(180deg);
        backdrop-filter: blur(10px);
    }
    .front{
        background-repeat: no-repeat;
        width: 250px;
        background-size: cover;
        background-position: center;
        padding-top: 190px;
        transform: perspective(600px) rotateY(0deg);
        .card-text{
            height: 60px;
            width: 250px;
            line-height: 60px;
            background-color: rgba($color: #fff, $alpha: .1);
            backdrop-filter: blur(10px);
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    .card:hover>.front,
    .card:focus>.front {
        transform: perspective(600px) rotateY(-180deg);
    }

    .card:hover>.back,
    .card:focus>.back {
        transform: perspective(600px) rotateY(0deg);
    }
    .card:nth-child(1)>.front {
        background: url("../images/pizza1_cropped_dark.jpg");
        background-position: center;
    }

    .card:nth-child(2)>.front {
        background: url("../images/pizza2_c_dark.jpg");
        background-position: center;
    }

    .card:nth-child(3)>.front {
        background: url("../images/pizza3_c_dark.jpg");
        background-position: center;
    }

    .card:nth-child(4)>.front {
        background: url("../images/pizza4_c_dark.jpg");
        background-position: center;
    }

    .card:nth-child(5)>.front {
        background: url("../images/pizza5_c_dark.jpg");
        background-position: center;
    }

    .card:nth-child(6)>.front {
        background: url("../images/pizza6_c_dark.jpg");
        background-position: center;
    }

}

footer{
    padding: 1rem;
    text-align: center;
    // height: 6rem;
    font-weight: 300;
    font-size: .8rem;
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            padding: 0.1rem .5rem;
        }
        a{
            color: #fff;

        }
    }
}

@media screen and (min-width : 720px){
    nav{
        padding: 1rem 4rem;
    }
    main{
        .desc{
            padding: 2rem 4rem;
            .cta{
                text-align: center;
                margin: 2rem 0rem;
            }
        }
    }
    .cards{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 0 3rem;
    }
}

@media screen and (min-width : 1024px){
    nav{
        padding: 1rem 6rem;
    }
    main{
        .desc{
            padding: 2rem 6rem;
            max-width: 60%;
            .cta{
                margin: 2rem 0rem;
            }
        }
    }
    .cards{
        max-width: 1100px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 3rem;
    }
}
@media screen and (min-width : 1440px){
    nav{
        padding: 1rem 12rem;
    }
    main{
        .desc{
            padding: 2rem 12rem;
            max-width: 60%;
            .cta{
                margin: 2rem 0rem;
            }
        }
    }
    .cards{
        padding: 0 3rem;
    }
}